<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>Tesla Options</title>
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="css/globalStyles.css">
</head>

<body class="dark">
  <div id="gradient"></div>
  <div class="site">
    <div id="logoContainer" class="magicShadow">
      <div id="gradientPlate"></div>
      <div id="logo"></div>
    </div>
    <div id="topbar"></div>

    <div id="allOptions"></div>

    <div id="copy"></div>
  </div> 

    <!-- template for allOptionsView -->
    <script id="optionElement" type="text/template">
      <ul class="optionList">
        <li class="optionInfo name"><%= name %></li>
        <li class="optionInfo price"><%= formattedPrice %></li>
      </ul>
    </script>


  <script src="js/libs/jquery.js"></script>
  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/backbone.js"></script>
  <script src="js/models/singleOptionModel.js"></script>
  <script src="js/models/costModel.js"></script>
  <script src="js/collections/allCosts.js"></script>
  <script src="js/views/singleOptionView.js"></script>
  <script src="js/views/allOptionsView.js"></script>
  <script src="js/collections/allOptions.js"></script>
  <script src="js/routes/router.js"></script>
  <script src="js/App.js"></script>

</body>
</html>