#vis {
	height:300px;
	width:300px;
	background:black;
	overflow:hidden;
	position:relative;
}

.userTile {
	display:inline-block;
	vertical-align:top;
	height:32px;
	width:32px;
	margin-top:1px;
	margin-right:1px;
	background-size:contain;
	opacity:0;
}

.vis-circle {
	opacity:0;
	background:rgba(255,255,255,.5);
	position:absolute;
	border-radius:50%;
	background-size:100% 100% !important;
}